@font-face {
    font-family: 'WorkSans';
    src: url('../static/WorkSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans';
    src: url('../static/WorkSans-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'WorkSans';
    src: url('../static/WorkSans-Italic.ttf') format('truetype');
    font-style: italic;
}

/* Define Color Palette */
:root {
    --white: #ffffff;
    --black: #000000;
    --off-white: #fcfcfc;
    --light-gray: #bdbdbd;
    --dark-gray: #343434;
    --almost-black: #161615;
    --dark-blue: #004a74;
    --light-blue: #e3f3ff;
    --medium-blue: #00659f;
    --red: #ff3131;
}

/* Reset Default Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'WorkSans', sans-serif;
}

/* Full Page Layout */
body {
    background-color: var(--medium-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


/* Signup Container */
.signup-container {
    background: var(--white);
    padding: 40px 50px; /* Increased padding for width */
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: clamp(400px, 50vw, 700px);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px; /* Slightly reduced spacing between elements */
}




/* Signup Title */
h1 {
    font-size: clamp(50px, 6vw, 120px);
    font-weight: bold;
}

/* Already Have an Account Link */
p {

    font-size: 18px;
    margin-bottom: 10px;
}

p a {
    
    font-weight: bold;
    text-decoration: none;
    color: var(--dark-blue);
    transition: 0.2s;
}

p a:hover {
    color: var(--medium-blue);
}

/* Input Fields */
input {
    width: 100%;
    padding: 15px;
    margin: 12px 0;
    border: 2px solid var(--dark-blue);
    border-radius: 8px;
    font-size: 18px;
    outline: none;
}

/* Signup Button */
.signup-btn {
    margin-top: 40px;
    width: 100%;
    padding: 18px;
    background-color: var(--dark-blue);
    color: var(--white);
    font-size: 22px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.signup-btn:hover {
    background-color: var(--medium-blue);
}

/* Fliply Logo */
.logo {
    width: clamp(250px, 30vw, 300px);
    height: auto;
    margin-top: 10px; /* Ensures spacing below button */
}
